/* Pagination.css */

.pagination {
    display: flex;
    align-items: center;
  }
  
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 3px;
  }
  
  .big-dot {
    background-color: blue; /* Change the color as needed */
  }
  
  .medium-dot {
    background-color: green; /* Change the color as needed */
  }
  
  .small-dot {
    background-color: red; /* Change the color as needed */
  }
  
  .dots {
    margin: 0 5px;
    font-size: 18px;
  }
  